In [11]:
import pandas as pd

Df = pd.read_csv('Automobile.csv')
Df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [38]:
'''
Code Explanation: 

I am trying to read car csv and trying to segregate all the details according to the information. 

I am iterating all the rows into the class and calculating ACDH values i.e. Accelaration x Cylinders x Displacement x Horsepower, and we are storing 
that values in a new column called ACDH. 

'''

class Car: 
    class Details:
        def __init__(self, row): # This row is attribute
            ''' 
            __init__ is the constructor. For example, we have a 300 row dataframe and we are pushing each row continuously. All the row values are
            updated to the parameters automatically. That is the reason we use constructors.  
            All the variables with the self is called `Parameter`
            '''
            self.name = row['name']
            self.mpg = row['mpg']
            self.cylinders = row['cylinders']
            self.displacement = row['displacement']
            self.horsepower = row['horsepower']
            self.weight = row['weight']
            self.acceleration = row['acceleration']
            self.model_year = row['model_year']
            self.origin = row['origin']
            # return self.name, self.mpg, self.cylinders, self.displacement, self.horsepower, self.weight, self.acceleration, self.model_year, self.origin

    class EngineDetails:
        def __init__(self, row):
            self.mpg = row['mpg'].astype(int)
            self.cylinders = row['cylinders'].astype(int)
            self.displacement = row['displacement'].astype(int)
            self.horsepower = row['horsepower'].astype(int)
            self.acceleration = row['acceleration'].astype(float)

        def calculation(self):
            return self.cylinders * self.displacement * self.horsepower * self.acceleration
          
    class ModelDetails:
        def __init__(self, row):
            self.name = row['name']
            self.model_year = row['model_year']
            self.origin = row['origin']

car_ = Car()

Df.apply(lambda row: car_.Details(row), axis= 1)  # row is argument 
Df['ACDH'] = Df.apply(lambda row: car_.EngineDetails.calculation(row), axis= 1) # Created a new column and updating all the values to the new columnn.

# OOPS

Class 
Object 
Method
Function
Attributes
Parameters
Arguments
Inheritance 
Encapsulation 
Abstraction 
Ploymorphism

In [3]:
class Classroom: # This is a class, a blueprint 
    def __init__(self, FirstName, LastName, DOB ) -> None: # FirstName, LastName, DOB are attributes
        self.FirstName = FirstName  # These are parameters 
        self.LastName = LastName
        self.DOB = DOB
    
    def MergeInfo(self): # This is a method. The difference between method and fucntion is, method is always linked with class. So the self in the MergeInfo tells that this is a method
        return (f"{self.FirstName} {self.LastName} : {self.DOB}")
roomList = [["Vishal", "Bakshi", "19 March 2001"], ["Prathyu", "Kanisetti", "11 August 2000"]]

Room = Classroom("Vishal", "Bakshi", "19 March 2001") # Room is an object, and Vishal, Bakshi, 19 March 2001 are arguments. 
Room.MergeInfo()

'Vishal Bakshi : 19 March 2001'

# Inheritance 
## Inheritance is a concept which allows you to inherit the characteristics and behaviours of the super class.